{# 

    The contents of this file are subject to the license and copyright
    detailed in the LICENSE and NOTICE files at the root of the source
    tree and available online at

    http://www.dspace.org/license/
    
#}
{% extends '../layout.html.twig' %}
{% block content %}
<ul class="breadcrumb">
  <li><a href="{{ path('/') }}">{{ 'Homepage' | trans }}</a> <span class="divider">/</span></li>
  {% if object %}
  {% for p in object.hierarchyList %}
  <li><a href="{{ concat('/handle/', p.handle) | path }}">{{ p.name }}</a> <span class="divider">/</span></li>
  {% endfor %}
  <li><a href="{{ concat('/handle/', object.handle) | path }}">{{ object.name }}</a> <span class="divider">/</span></li>
  {% endif %}
  <li class="active">{{ 'Search results' | trans }}</li>
</ul>
<div class="row-fluid">
	<div class="span9">
		
		<div class="well remove-bottom-padding">
			<form class="search" method="POST" action="{{ path '/search' }}">
				{% if object %}
				<input type="hidden" name="handle" value="{{ object.handle }}" />
				{% endif %}
				<div class="input-append">
				  <input name="query" class="size input-xxlarge" placeholder="{{ 'Type some text to search...' | trans }}" id="appendedInputButtons" type="text" value="{{ request.parameter('query') }}" />
				  <button class="btn btn-large">{{ 'Search' | trans }}</button>
				</div>
			</form>
		</div>
		<ul class="nav nav-tabs" id="myTab">
			{% set shown = false %}
			{% set itemsShow = '' %}
			{% set communitiesShow = '' %}
			{% set collectionsShow = '' %}
  			{% if items.getTotalSearchResults > 0 %}
  			{% set shown = true %}
  			<li class="active">
  				{% set itemsShow = 'active' %}
  				<a data-toggle="tab" href="#items">
  				{{ 'Items' | trans }} 
  				{% if items.getTotalSearchResults > 0 %}
  				<span class="badge badge-info">{{ items.getTotalSearchResults }}</span>
  				{% endif %}
  				</a>
  			</li>
  			{% else %}
  			<li class="disabled">
  				<a href="#items" title="{{ 'No items found' | trans }}">
  				{{ 'Items' | trans }}
  				</a>
  			</li>
  			{% endif %}
  			{% if communities.getTotalSearchResults > 0 %}
  			{% if shown %}
  			<li>
  			{% else %}
  			<li class="active">
  			{% set shown = true %}
  			{% set communitiesShow = 'active' %}
  			{% endif %}
  				<a data-toggle="tab" href="#communities">
  				{{ 'Communities' | trans }}
  				<span class="badge badge-info">{{ communities.getTotalSearchResults }}
  				</a>
  			</li>
  			{% else %}
  			<li class="disabled">
  				<a href="#communities" title="{{ 'No communities found' | trans }}">
  				{{ 'Communities' | trans }}
  				</a>
  			</li>
  			{% endif %}
  			{% if collections.getTotalSearchResults > 0 %}
  			{% if shown %}
  			<li>
  			{% else %}
  			<li class="active">
  			{% set shown = true %}
  			{% set collectionsShow = 'active' %}
  			{% endif %}
  				<a data-toggle="tab" href="#collections">
  				{{ 'Collections' | trans }} 
  				<span class="badge badge-info">{{ collections.getTotalSearchResults }}
  				</a>
  			</li>
  			{% else %}
  			<li class="disabled">
  				<a href="#collections" title="{{ 'No collections found' | trans }}">
  				{{ 'Collections' | trans }} 
  				</a>
  			</li>
  			{% endif %}
		</ul>
		<div id="tab" class="tab-content">
  			<div class="tab-pane {{ itemsShow }}" id="items">
  				{% for item in items.dspaceObjects %}
  				<div>
					<a href="{{ concat('/handle/', item.handle) | path}}">
					<strong>{{ item.firstMetadata('dc.title').textValue }}</strong>
					{% for md in item.metadata('dc.contributor.author') %}
					{% if last %}
					<small>{{ md.textValue }}</small>
					{% else %}
					<small>{{ md.textValue }}</small>;
					{% endif %}
					{% endfor %}
					</a>
				</div>
  				{% endfor %}
  			</div>
  			<div class="tab-pane {{ communitiesShow }}" id="communities">
  				{% for item in communities.dspaceObjects %}
  				<div>
					<a href="{{ concat('/handle/', item.handle) | path}}">
					<strong>{{ item.name }}</strong>
					</a>
				</div>
  				{% endfor %}
  			</div>
  			<div class="tab-pane {{ collectionsShow }}" id="collections">
  				{% for item in collections.dspaceObjects %}
  				<div>
					<a href="{{ concat('/handle/', item.handle) | path}}">
					<strong>{{ item.name }}</strong>
					</a>
				</div>
  				{% endfor %}
  			</div>
		</div>
	</div>
	<div class="span2">
	teste
	</div>
</div>
{% endblock %}