{# 

    The contents of this file are subject to the license and copyright
    detailed in the LICENSE and NOTICE files at the root of the source
    tree and available online at

    http://www.dspace.org/license/
    
#}
{% extends '../layout.html.twig' %}
{% block content %}
<ul class="breadcrumb">
  <li><a href="{{ path('/') }}">{{ 'Homepage' | trans }}</a> <span class="divider">/</span></li>
  {% for p in collection.hierarchyList %}
  <li><a href="{{ concat('/handle/', p.handle) | path }}">{{ p.name }}</a> <span class="divider">/</span></li>
  {% endfor %}
  <li class="active">{{ collection.name }}</li>
</ul>
<div class="row-fluid">
	<div class="span9">
		<h1>{{ collection.name }}</h1>
		<small>{{ collection.shortDescription }}</small>
		<hr />
		<div class="well remove-bottom-padding">
			<form class="search" method="POST" action="{{ path '/search' }}">
				<input type="hidden" name="handle" value="{{ collection.handle }}" />
				<div class="input-append">
				  <input name="query" class="input-xxlarge size" placeholder="{{ 'Type some text to search...' | trans }}" id="appendedInputButtons" type="text">
				  <button class="btn btn-large">{{ 'Search' | trans }}</button>
				</div>
			</form>
		</div>
	</div>
	<div class="span3">
		{% if collection.logo || collection.introductoryText.length > 0 %}
		<div class="block">
			<p class="block-heading">{{ 'More information' | trans }}</p>
			<div class="block-body">
				{% if collection.logo %}
				<img src="{{ concat('/logo/', collection.logo.id ) | path }}" />
				{% endif %}
				{% if collection.introductoryText.length > 0 && collection.logo %}
				<hr />
				{% endif %}
				{{ collection.introductoryText }}
			</div>
		</div>
		{% endif %}
	</div>
</div>

	{% if collection.items %}

	<hr />
		<h2>{{ 'Items' | trans }}</h2>
		<div class="items-collection">
			{% for item in collection.getLastItems(3) %}
		
			{% if (position % 4) == 0 %}
			<div class="row-fluid">
			{% endif %}
				<a href="{{ concat ('/handle/', item.handle) | path }}" class="item span3">
					<p class="title">{{ item.getFirstMetadata('dc.title') }}</p>
					<p class="logo">
						<img src="{{ concat('/logo/', 5 ) | path  }}" />
					</p>
					{% if item.submitter.email %}
					<p class="description">{{ item.getFirstMetadata('dc.description.abstract') }}</p>
					{% endif %}
				</a>
			{% if ((position % 4) == 3) || last %}
			</div>
			{% endif %}
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}